<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet"> 

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%# 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
